@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Karla|Open+Sans:300,400,700&display=swap');
body { font-family: 'Open Sans', sans-serif; }

.board_post { position: relative; width: 1200px; top: 120px; margin: 50px auto 250px; background: #fff; border: 1px solid #e3e3e3; box-sizing: border-box; padding: 20px; }
.board_post > h2 { display: inline-block; font-weight: 300; margin-bottom: -20px; padding-left: 20px; margin-top: 0; }
.board_post .post_wrap > li { margin-left: -2rem; padding-left: 20px; text-align: left; }
.post_title { box-sizing: border-box; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; }
.post_title h2 { font-size: 16px; }
.post_id { min-height: 50px; border-bottom: 1px solid #e3e3e3; line-height: 50px; border-top: none; }
.post_content { min-height: 400px; border: 1px #e3e3e3; padding: 20px; border-top: none; }
.post_review { line-height: 50px; border-top: none; }
.post_review > ul { margin-left: -2rem; padding-left: 20px; }
.post_review > ul > li { position: relative; display: block; padding-left: 0; border-bottom: 1px solid #e3e3e3; padding: 20px; }
/*.post_review > ul > li:last-child { border-bottom: none; }*/
.post_review .review_num { margin-left: -1rem; padding-left: 20px; border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; }
.post_review > ul > li > ul { margin-left: -1rem; padding-left: 20px; } 
.post_review > ul > li > ul button {background: #fff; }

.post_review > ul > li > ul .fix_button,
.post_review > ul > li > ul .resi_button, {
    position: absolute;
    right: 80px;
    top: 30px;
    background: #fff;
}
.post_review > ul > li > ul li .button_repeat { margin-right: 90px;  }
.post_review > ul > li > ul li .button_fix { margin-right: 45px;  }
.post_review > ul > li > ul li .button_delete {  } 
.post_review > ul > li > ul li h2 { display: inline-block; margin: 0; padding: 0; margin-right: 10px;}
.post_review > ul > li > ul li span { font-size: 15px; }
width: 50%;
height: 100px;
margin-left: 20px;
top: 60px;
position: relative;
/* position: absolute; */
}
.review_box { background: #e8eaee; margin-left: -2rem; height: 275px; margin-top: 40px; padding: 20px; position: relative; }
.review_box_wrap { background: #fff; height: 200px; overflow: hidden; display: block; width: 100%; }
.btn_register_review { position: absolute; right: 20px; margin-top: 20px; height: 60px; width: 120px; background: #747a86; color: white; line-height: 60px; font-size: 1rem; }
.review_box span { position: absolute; right: 152.5px; margin-top: 40px; font-size: 0.8rem; font-weight: 300; }
.this_info {     position: absolute;
    height: 125px;
    top: 500px;
    left: 0;
}}
.this_info ul { position: absolute; left: -2rem; bottom: 0; font-weight: 300; }
.this_info ul li { display: block; padding-right: 40px; }
.board_post .list { width: 80px; height: 40px; position: relative; line-height: 40px; position: absolute; right: 2.5rem; top: 1.0rem; background: #fff; font-weight: 700; font-size: 0.8rem; }


.board_post .container { display: block; clear: both; text-align: center; margin: 20px auto 0 -40px; }
/*.pagination {  }*/

/*Button of pagination except for Previous, Next*/
.page-item { display: inline-block; width: 40px; height: 40px; line-height: 40px; margin: 0 3px;  }
.page-item > a { color: black; }
.page-item:hover { background: #ddddff; }
/*Previous Button*/
.page-item:first-child {  width: 80px; height: 40px; line-height: 40px; margin: 0 6px; }
/*Next Button*/
.page-item:last-child {  width: 80px; height: 40px; line-height: 40px; margin: 0 6px; }

.fix_button,
.fix_register,
.cancel_fix,
.real_delete_button,
.cancel_delete,
.delete_button {
    top: 23px;
    height: 40px;
    width: 80px;
    right: 30px;
    position: absolute;
}
.cancel_delete,
.cancel_fix,
.delete_button {
    top: 65px;
    right: 30px;
}

.created_at {
    margin-bottom: -20px;
    font-size: 15px;
}