@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Karla|Open+Sans:300,400,700&display=swap');
html { font-size: 20px; }
body { font-size: 1rem; margin: 0; padding: 0; background: #fff; font-weight: normal; font-family: 'Open Sans'; }
li { list-style: none; }
a { text-decoration: none; }

section { background: #fff; }
section { margin: 150px 0 100px; text-align: center; }
section .info_wrapper { width: 1200px; display: inline-block; }

section .img_section { box-sizing: border-box; padding: 20px 50px 0 0;  display: inline-block; width: 450px; height: 505px;}
section .img_section img {  width: 100%; height: 100%; display: inline-block; }

section .read_section { box-sizing: border-box; display: inline-block; text-align: left; width: 450px; position: relative; top: -202px; }
section .read_section ul { display: inline-block; padding: 0 0 0 75px; width: 400px; }
section .read_section .info_title h5 { margin: 0; padding: 0; }
section .read_section .price,
section .read_section .colour,
section .read_section .size_2,
section .read_section .delivery_info { font-size: 0.8rem; padding-bottom: 20px;}
section .read_section li { display: block; }
section .read_section li h4 { display: inline-block; margin: 0 0 0 20px; padding: 0; }
section .read_section li .color_1 { display: inline-block; background: orange; width: 1rem; height: 1rem; line-height: 1rem; position: relative; top: 2px; margin-left: 20px;  }
section .read_section li .color_2 { display: inline-block; background: blue; width: 1rem; height: 1rem; line-height: 1rem; position: relative; top: 2px; margin-left: 2px; }
section .read_section li .size_box { border: 1px solid #999; display: inline-block; background: #fff; color: black; font-size: 0.4rem; width: 4rem; height: 0.8rem; text-align: center; line-height: 0.8rem; margin-left: 20px; position: relative; top: -2px;}
section .read_section .delivery_info { border-bottom: 1px solid black; }
section .read_section .info_title p { margin: 0; padding: 0; font-size: 0.6rem; }
section .read_section .info_title .status { display: inline-block; background: orange; color: white; font-size: 0.4rem; width: 3rem; height: 1rem; text-align: center; line-height: 1rem; }
section .read_section .info_title hr { border-bottom: 0.1px solid black; } 
section .read_section .explanation { font-size: 0.6rem; padding-bottom: 30px; }
section .read_section .total_price { padding-top: 20px; right: -28px; font-size: 0.8rem; position: absolute; }
section .read_section .like_button { position: absolute; bottom: -102px; width: 80px; height: 50px; left: 239px; color: black; background: #fff; }
section .read_section .jjim_button { position: absolute; bottom: -102px; width: 80px; height: 50px; color: black; background: #fff; }
section .read_section .basket { position: absolute; bottom: -102px; width: 80px; height: 50px; left: 157px; color: black; background: #fff; }

section .read_section .purchase_button { position: absolute; bottom: -155px; width: 400px; height: 50px; background: black; color: #fff; }
section .tab_div { margin: 100px 0 50px 0; }
section .tab_div > .tab_menu { margin: 0 auto; padding: 0; height: 60px; border-bottom: 1px solid #333; text-align: center; width: 1200px; }
section .tab_div > .tab_menu > li { width: 49.99999%; float: left; }
section .tab_div > .tab_menu > li > a { display: block; height: 59px; border: 1px solid #e9e9e9; border-bottom: 0; background: #fff; font-size: 15px; line-height: 60px; }
section .tab_div > .tab_menu > li > a:active { height: 60px; border-color: #333; }
section .tab_div > .tab_menu > li > a:hover { background: rgba(0,0,0,0.05); }
section .detail_info { width: 1200px; margin: 0 auto; text-align: center; }
/* section .detail_info p { margin: 0 auto; width: 400px; text-align: center; } */
section .detail_info img { vertical-align: top; display: block; margin: 0 auto; text-align: center; padding-top: 50px; width: 100%; height: 100%; }
section .simple_review {  margin: 0px auto 50px; border-bottom: 1px solid #333; text-align: left; width: 1200px; padding: 10px 0 30px; position: relative; }
section .simple_review img { position: absolute; right: 20px; top: -30px; display: inline-block; width: 100px; height: 100px; }
section .simple_review .title,
section .simple_review .content { border: 1px solid black; height: 100px; width: 80%; text-align: left;
    margin-left: 20px; }
section .simple_review .title { font-size: 16px; position: absolute; top: -35px; }
section .simple_review .size { font-size: 14px; margin-top: 0; }
/* section .simple_review .content { font-size: 16px; font-weight: 300; margin-bottom: 0; } */

section .mypage .container { display: block; clear: both; text-align: center; border-top: 3px solid #f0ffff; margin: 0 auto;}
/*.pagination {  }*/

/*Button of pagination except for Previous, Next*/
section .page-item { display: inline-block; width: 40px; height: 40px; line-height: 40px; margin: 0 3px; }
section .page-item > a { color: black; }
section .page-item:hover { background: #ddddff; }
/*Previous Button*/
section .page-item:first-child {  width: 80px; height: 40px; line-height: 40px; margin: 0 6px; }
/*Next Button*/
section .page-item:last-child {  width: 80px; height: 40px; line-height: 40px; margin: 0 6px; }

.simple_review {
    text-align: left;
    background: white;
    border: 1px solid black;
}
.simple_review > p {
    text-align: left;
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
}
.simple_review > h4 {
    text-align: left;
    display: inline-block;
    margin-left: 20px;
}
.review_explanation {
    color: red;
}
.fix_button,
.fix_register,
.cancel_fix,
.real_delete_button,
.cancel_delete,
.delete_button {
    top: 125px;
    height: 40px;
    width: 80px;
    right: 30px;
    position: absolute;
}
.cancel_delete,
.cancel_fix,
.delete_button {
    top: 165px;
    right: 30px;
}

.created_at {
    margin-bottom: -20px;
    font-size: 15px;
}